# Entornos Virtuales
venv_gestos/
mi_entorno_gestos/
.venv/
*/bin/activate
*/Scripts/activate

# Archivos de caché/compilación de Python
__pycache__/
*.pyc
*.pyd

# Configuración de IDEs (VS Code)
.vscode/

# Logs y Archivos temporales
*.log
temp/
