streamlit==1.25.0  <-- Congelamos Streamlit a una versión estable
opencv-python
mediapipe==0.10.11 <-- Congelamos MediaPipe a una versión compatible
protobuf==3.20.3   <-- ¡Esta es la clave! Congelamos Protobuf a una versión antigua.
Pillow
numpy
streamlit-webrtc
